*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
};



body{
    
    background: rgb(#0f3854); 
    background: radial-gradient( ellipse at center, #0a2e38 0%, #000000 70%);
    background-size: 100%;
    

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

};

.HomeClock{

    color: whitesmoke;
    font-family: 'Share Tech', monospace;

width: 200px;

height: 200px;

    border: solid red 1px;
};